<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doanandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnAndroid" >
        <activity
            android:name=".Object.TKBActivity"
            android:exported="false" />
        <activity
            android:name=".Object.Doan_HoiActivity"
            android:exported="false" />
        <activity
            android:name=".Object.CTCT_HSSVActivity"
            android:exported="false" />
        <activity
            android:name=".Object.DetailPostRoomTraining"
            android:exported="false" />
        <activity
            android:name=".Object.DetailPostActivity"
            android:exported="false" />
        <activity
            android:name=".Object.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Object.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".Object.cai_dat"
            android:exported="false" />
        <activity
            android:name=".Object.dang_ky_tai_khoan"
            android:exported="false" />
        <activity
            android:name=".Object.doi_avatar"
            android:exported="false" />
        <activity
            android:name=".Object.Doi_mat_khau"
            android:exported="false" />
        <activity
            android:name=".Object.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Object.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Object.Show_Screen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>